[submodule "repos/c-header-add-ifndef-macros"]
	path = repos/c-header-add-ifndef-macros
	url = git@github.com:jensenr30/c-header-add-ifndef-macros.git
[submodule ".jensenr30/private"]
	path = .jensenr30/private
	url = git@github.com:jensenr30/private.git
[submodule "pd"]
	path = pd
	url = git@github.com:jensenr30/pd.git
