#===============================================================================
# 1. Ignore everything by default
#===============================================================================
*


#===============================================================================
# 2. Track specific things
#===============================================================================
!README.md
!LICENSE

!.abcde.conf
!.alias.sh
!.bash_login
!.bash_profile
!.bashrc
!.dictionary.txt
!.gitconfig
!.gitignore
!.gitignore-global
!.inputrc
!.nvimrc
!.pd_profile
!.profile
!.tmux.conf
!.vimrc
!.xinitrc-ryan
!.wslconfig
!.zshrc

!.jensenr30/
!.jensenr30/**

!.config/
!.config/.gtktermrc
!.config/alacritty/
!.config/alacritty/*
!.config/albert.conf
!.config/atuin/
!.config/atuin/config.toml
!.config/Code
!.config/Code/User/
!.config/Code/User/settings.json
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/home-manager/
!.config/home-manager/**
.config/home-manager/hostname.nix
!.config/htop/
!.config/i3
.config/i3/*
!.config/i3/config
!.config/kdeglobals
!.config/nixpkgs/
!.config/nixpkgs/*
!.config/nvim/
!.config/nvim/**
!.config/nvim_disabled/
!.config/nvim_disabled/**
.config/nvim/plugin/**
!.config/obs-studio/
!.config/obs-studio/basic/
!.config/polybar
!.config/polybar/config.ini
!.config/qt6ct/
!.config/qt6ct/qt6ct.conf
!.config/qt6ct/colors/
!.config/qt6ct/colors/**
!.config/REAPER
!.config/REAPER/Configurations
!.config/REAPER/Configurations/*
!.config/REAPER/KeyMaps
!.config/REAPER/KeyMaps/*
!.config/vis/
!.config/vis/config
!.config/vis/colors/
!.config/vis/colors/**
!.config/zellij/
!.config/zellij/config.kdl

!.ssr/
!.ssr/output-profiles/
!.ssr/output-profiles/*

!.vscode/
!.vscode/settings.json

!AppData/
!AppData/Roaming/
!AppData/Roaming/Microsoft/
!AppData/Roaming/Microsoft/Windows/
!AppData/Roaming/Microsoft/Windows/Start\ Menu/
!AppData/Roaming/Microsoft/Windows/Start\ Menu/Programs/
!AppData/Roaming/Microsoft/Windows/Start\ Menu/Programs/Startup/
!AppData/Roaming/Microsoft/Windows/Start\ Menu/Programs/Startup/*

!AppData/Roaming/Mozilla/
!AppData/Roaming/Mozilla/Firefox/
!AppData/Roaming/Mozilla/Firefox/Profiles/
!AppData/Roaming/Mozilla/Firefox/Profiles/7gjaszpg.default/
!AppData/Roaming/Mozilla/Firefox/Profiles/7gjaszpg.default/persdict.dat

# lots of good scripts in here :)
!bin/
!bin/**

#===============================================================================
# 3. Ignore specific junk
#===============================================================================

# Windows
**desktop.ini
**Thumbs.db
AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/*.lnk

# LibreOffice
**.~lock.*

# KDiff3
**.orig

# Python
**/.project
**/.pydevproject
**/__pycache__*

# log files
**startup.py_log.txt

# vim
**.swp

# Dolphin
**.directory

.jensenr30/*/.system-setup.complete
