[user]
    name = Ryan Jensen
	email = jensenr30@gmail.com
    #email = jensenr30@gmail.com
[core]
    editor = e
    excludesFile = ~/.gitignore-global
    pager = delta
    autocrlf = input
[pull]
    rebase = false
[init]
    defaultBranch = main
[rerere]
    enabled = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    syntax-theme = none
    line-numbers = false
    wrap-max-lines = 40
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[includeIf "gitdir:~/pd/"]
  path = ~/pd/.gitconfig

# automatic replacement of https in favor of ssh
# [url "ssh://git@github.com/"]
    # insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@gitlab.packetdigital.com:"]
	insteadOf = https://gitlab.packetdigital.com/
